html, body{
    background-color: #a6ff00;
    height:60%;
    margin:0;
    display:flex;
    justify-content:center;
    align-items: center;
    
}

 #uid{

    position: relative;
    right:30px;
    

 }

 #b1{

    position: relative;
    

 }
 #pid{

    position: relative;
    right:30px;
    top:40px;
    

 }

 #b2{
    top:40px;
    position: relative;
    right:11px;
    

 }
 #img{
    position: relative;
    top: 200px;

 }
 #blc{
    position:relative;
    left:60px;


 }
 label{

    font-family: cursive;
    font-size: large;
    color: rgb(24, 100, 24);


 }
 #but{

    position: relative;
    top: -30px;
    right:240px;
    
    color: rgb(24, 100, 24);


 }